
@media screen and (min-width: 1500px) {   
    .newsWrapper{
        width: 23%;
        margin-right:1% !important;
    }
}

@media screen and (max-width: 1500px) {
    .newsWrapper{
        width: 31%;
        margin-right:1% !important;
    }
}
@media screen and (max-width: 1000px) {
    .newsWrapper{
        width: 47%;
        margin-right:1% !important;
    }
}

@media screen and (max-width: 700px) {
    .newsWrapper{
        width: 96.5%;
        margin-right:1% !important;
    }
}

.newsWrapper{
    border:2px solid black;
    border-radius: 5px;
    margin:10px;
    padding:10px;
    position:relative;
    min-height:100px;
    vertical-align: top;
    box-sizing: border-box;
    display:inline-block;
    cursor: pointer;
}

.newsWrapper.externalLink{
    background:lightskyblue;
}

.newsWrapper.expandedStory{
    width:96.5%;
}

.newsWrapper > .newsTitle,
.newsWrapper > .fullStory{
    padding-bottom:5px;
}


.bioWrapper {
    height:22px;
}
.bioWrapper > .newsAuthor {
    position:absolute;
    bottom:10px;
    left:10px;
    text-align: left;
    font-size: 13px;
    font-weight:bold;
}

.bioWrapper > .newsDate {
    position:absolute;
    bottom:10px;
    right: 10px;
    font-size: 13px;
    font-weight:bold;
    text-align: right;
}